:root {
  /* Layout */
  --mobile: 375px;
  --desktop: 1440px;

  /* Primary Colors */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  /* Neutral Colors */
  --very-dark-blue-main: hsl(217, 54%, 11%);
  --very-dark-blue-card: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);

  /* Tipography */
  --font-size-paragraph: 1.4rem;
  --font-weight-medium: 300;
  --font-weight-bold: 400;
  --font-weight-black: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100vh;
  font-family: 'Outfit', sans-serif;
}


